<ion-view view-title="Chemical Engineering Equations"> 
<ion-content>
	<div class="equationListLeft">
		<label class="equationItem">
			<button class="button button-large equationItem">equation 1</button> 
				<select class="equationOption">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
					<option value="option4">Option 4</option>
				</select>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem">equation 2</button>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem">equation 3</button>
		</label></br>
	</div>
	<div class="equationListRight">
		<label class="equationItem">
			<button class="button button-large equationItem">equation 1</button> 
				<select class="equationOption">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
					<option value="option4">Option 4</option>
				</select>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem">equation 2</button>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem">equation 3</button>
		</label></br>
	</div>
</ion-content> 
</ion-view>
