<ion-view view-title="Chemical Engineering Equations"> 
<ion-content>
	<div class="equationList">
		<label class="item item-input">
			<h1 class="equationItem">equation 1 
				<select class="equationOption">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
					<option value="option4">Option 4</option>
				</select>
			</h1>
		</label>
		<label class="item item-input">
			<h1>equation 2</h1>
		</label> 
		<label class="item item-input">
			<h1>equation 3</h1>
		</label>
	</div>
</ion-content> 
</ion-view>
