<ion-view view-title="Chemical Engineering Equations">
<ion-content>
  <div class="equationListLeft">
    <label class="equationItem">
      <button id="boylesLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.boyles}}</button>
    </label></br>
    <label class="equationItem">
      <button id="charlesLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.charles}}</button>
    </label></br>
    <label class="equationItem">
      <button id="stp" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.stp}}</button>
    </label></br>
    <label class="equationItem">
      <button id="halflife" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.halfLife}}</button>
    </label></br>
  </div>
  <div class="equationListRight">
    <label class="equationItem">
      <button id="gayLussacsLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.gayLussacs}}</button>
    </label></br>
    <label class="equationItem">
      <button id="combinedGasLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.combinedGas}}</button>
    </label></br>
    <label class="equationItem">
      <button id="soudersBrown" class="button button-large equationItem" ng-click="assignModal($event)">{{chemical.soudersBrown}}</button>
    </label></br>
  </div>
</ion-content>
</ion-view>
