<ion-view view-title="Electrical Engineering Equations"> 
<ion-content>
	<div class="equationListLeft">
		<label class="equationItem">
			<button id="ohmsLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.ohmsLaw}}</button> 
		</label></br>
		<label class="equationItem">
			<button id="coulomb" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.coulomb}}</button>
		</label></br>
		<label class="equationItem">
			<button id="elecField" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.elecField}}</button>
		</label></br>
	</div>
	<div class="equationListRight">
		<label class="equationItem">
			<button id="elecPot" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.elecPot}}</button> 
		</label></br>
		<label class="equationItem">
			<button id="elecCurr" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.elecCurr}}</button>
		</label></br>
		<label class="equationItem">
			<button id="power" class="button button-large equationItem" ng-click="assignModal($event)">{{electrical.power}}</button>
		</label></br>
	</div>
</ion-content> 
</ion-view>
