<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Hooke's Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="force" ng-model="value.one" placeholder="Force">
        </label>
        <label class="item item-input">
          <input type="text" name="kConstant" ng-model="value.two" placeholder="K Constant">
        </label>
        <label class="item item-input">
          <input type="text" name="deltaX" ng-model="value.three" placeholder="Delta X">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>F = {{returned.one}}</br>k = {{returned.two}}</br>
            x = {{returned.three}}</br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeHookes()">Compute</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
