<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Kinetic Energy</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="kinEnergy" ng-model="value.one" placeholder="Kinetic Energy">
        </label>
        <label class="item item-input">
        <input type="text" name="mass" ng-model="value.two" placeholder="Mass">
      </label>
        <label class="item item-input">
          <input type="text" name="velocity" ng-model="value.three" placeholder="Velocity">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>K = {{returned.one}}</br>m = {{returned.two}}</br>
            v = {{returned.three}}</p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeKinEnergy()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
