<ion-view view-title="Unit Conversions">
  <ion-content>
    <div class="equationListLeft">
      <label class="equationItem">
        <button id="feetMeters" class="button button-large equationItem" ng-click="assignModal($event)">{{general.feetMeters}}</button>
      </label></br>
      <label class="equationItem">
        <button id="milesKm" class="button button-large equationItem" ng-click="assignModal($event)">{{general.milesKm}}</button>
      </label></br>
      <label class="equationItem">
        <button id="gallonsLiters" class="button button-large equationItem" ng-click="assignModal($event)">{{general.gallonsLiters}}</button>
      </label></br>
    </div>
    <div class="equationListRight">
      <label class="equationItem">
        <button id="wattsHorsepower" class="button button-large equationItem" ng-click="assignModal($event)">{{general.wattsHorsepower}}</button>
      </label></br>
    </div>
    <div class="equationListRight">
      <label class="equationItem">
        <button id="newtonsLbs" class="button button-large equationItem" ng-click="assignModal($event)">{{general.newtonsLbs}}</button>
      </label></br>
    </div>
  </ion-content>
</ion-view>