<ion-view view-title="Mechanical Engineering Equations">
  <ion-content>
    <div class="equationListLeft">
      <label class="equationItem">
        <button id="soundVelocity" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.soundVelocity}}</button>
      </label></br>
      <label class="equationItem">
        <button id="stress" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.stress}}</button>
      </label></br>
      <label class="equationItem">
        <button id="strain" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.strain}}</button>
      </label></br>
    </div>
    <div class="equationListRight">
      <label class="equationItem">
        <button id="flowRate" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.flowRate}}</button>
      </label></br>
      <label class="equationItem">
        <button id="torque" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.torque}}</button>
      </label></br>
      <label class="equationItem">
        <button id="cantilever" class="button button-large equationItem" ng-click="assignModal($event)">{{mechanical.cantileverBeam}}</button>
      </label></br>
    </div>
  </ion-content>
</ion-view>
