<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ohm's Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="current" ng-model="value.1" placeholder="Current">
        </label>
        <label class="item item-input">
          <input type="text" name="voltage" ng-model="value.2" placeholder="Voltage">
        </label>
        <label class="item item-input">
          <input type="text" name="resistance" ng-model="value.3" placeholder="Resistance">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
        <label class="item">
          <button class="button button-block" type="reset" ng-click="clearAddress()">Clear</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="reset" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
