<ion-view view-title="Physics Equations"> 
<ion-content>
	<div class="equationListLeft">
		<label class="equationItem">
			<button id="ohmsLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.ohmsLaw}}</button> 
				<select class="equationOption">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
					<option value="option4">Option 4</option>
				</select>
		</label></br>
		<label class="equationItem">
			<button id="hookesLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.hookesLaw}}</button>
		</label></br>
		<label class="equationItem">
			<button id="pvt" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.pvt}}</button>
		</label></br>
	</div>
	<div class="equationListRight">
		<label class="equationItem">
			<button class="button button-large equationItem" ng-click="assignModal($event)">equation 1</button> 
				<select class="equationOption">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
					<option value="option4">Option 4</option>
				</select>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem" ng-click="assignModal($event)">equation 2</button>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem" ng-click="assignModal($event)">equation 3</button>
		</label></br>
	</div>
</ion-content> 
</ion-view>
