<ion-view view-title="Physics Equations">
<ion-content>
	<div class="equationListLeft">
		<label class="equationItem">
			<button id="motion" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.motion}}</button>
		</label></br>
		<label class="equationItem">
			<button id="hookesLaw" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.hookesLaw}}</button>
		</label></br>
		<label class="equationItem">
			<button id="pvt" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.pvt}}</button>
		</label></br>
    <label class="equationItem">
      <button id="momentum" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.momentum}}</button>
    </label></br>
	</div>
	<div class="equationListRight">
		<label class="equationItem">
			<button id="weight" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.weight}}</button>
		</label></br>
		<label class="equationItem">
			<button id="centAccel" class="button button-large equationItem" ng-click="assignModal($event)">{{physics.centAccel}}</button>
		</label></br>
		<label class="equationItem">
			<button class="button button-large equationItem" ng-click="assignModal($event)">equation 3</button>
		</label></br>
	</div>
</ion-content>
</ion-view>
