<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pressure, Volume, Temperature</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="pressure" ng-model="value.one" placeholder="Pressure">
        </label>
        <label class="item item-input">
          <input type="text" name="volume" ng-model="value.two" placeholder="Volume">
        </label>
        <label class="item item-input">
          <input type="text" name="moles" ng-model="value.three" placeholder="Number of Moles">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature" ng-model="value.four" placeholder="Temperature">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>P = {{returned.one}}</br>V = {{returned.two}}</br>
            n = {{returned.three}}</br>T = {{returned.four}}</br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computePVT()">Compute</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
