<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Souders-Brown Equation</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="liquiddensity" ng-model="value.one" placeholder="Liquid Density (Kg / M^3)">
        </label>
        <label class="item item-input">
          <input type="text" name="vapordensity" ng-model="value.two" placeholder="Vapor Density (Kg / m^3)">
        </label>
        <label class="item item-input">
          <input type="text" name="vaporvelo" ng-model="value.three" placeholder="Vapor Velocity Factor (m / s)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>Maximum Allowable Vapor Velocity = {{returned.one}} <span ng-if="returned.one">m / s</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeSoudersBrown()">Compute</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
