<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Weight</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="weight" ng-model="value.one" placeholder="Weight">
        </label>
        <label class="item item-input">
          <input type="text" name="mass" ng-model="value.two" placeholder="Mass">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>W = {{returned.one}}</br>m = {{returned.two}}</p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeWeight()">Compute</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
