<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Centripetal Acceleration</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="acceleration" ng-model="value.one" placeholder="Acceleration (m/s^2)">
        </label>
        <label class="item item-input">
        <input type="text" name="velocity" ng-model="value.two" placeholder="Velocity (m/s)">
      </label>
        <label class="item item-input">
          <input type="text" name="radius" ng-model="value.three" placeholder="radius (m)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
            a = {{returned.one}}<span ng-if="returned.one"> m/s^2</span></br>
            v = {{returned.two}}<span ng-if="returned.two"> m/s</span></br>
            r = {{returned.three}}<span ng-if="returned.three"> m</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeCentAccel()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
