<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Combined Gas Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="pressure1" ng-model="value.one" placeholder="Pressure 1 (atm)">
        </label>
        <label class="item item-input">
          <input type="text" name="volume1" ng-model="value.two" placeholder="Volume 1 (L)">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature1" ng-model="value.three" placeholder="Temperature 1 (K)">
        </label>
        <label class="item item-input">
          <input type="text" name="pressure2" ng-model="value.four" placeholder="Pressure 2 (atm)">
        </label>
        <label class="item item-input">
          <input type="text" name="volume2" ng-model="value.five" placeholder="Volume 2 (L)">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature2" ng-model="value.six" placeholder="Temperature 2 (K)">
        </label>
        <label class="item">
          <br>{{returned.state}}</br>
          P1 = {{returned.one}}<span ng-if="returned.one"> atm</span></br>
          V1 = {{returned.two}}<span ng-if="returned.two"> L</span></br>
          T1 = {{returned.three}}<span ng-if="returned.three"> K</span><br>
          P2 = {{returned.four}}<span ng-if="returned.four"> atm</span></br>
          V2 = {{returned.five}}<span ng-if="returned.five"> L</span></br>
          T2 = {{returned.six}}<span ng-if="returned.six"> K</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeCombinedGas()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
