<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Coulomb's Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="current" ng-model="value.one" placeholder="Force (N)">
        </label>
        <label class="item item-input">
          <input type="text" name="voltage" ng-model="value.two" placeholder="Coulomb's Law Constant (N*m^2/C^2)">
        </label>
        <label class="item item-input">
          <input type="text" name="charge1" ng-model="value.three" placeholder="Charge 1 (C)">
        </label>
        <label class="item item-input">
          <input type="text" name="charge2" ng-model="value.four" placeholder="Charge 2 (C)">
        </label>
        <label class="item item-input">
          <input type="text" name="distance" ng-model="value.five" placeholder="Distance (M)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
            F = {{returned.one}}<span ng-if="returned.one"> N</span></br>
            k = {{returned.two}}<span ng-if="returned.two"> N*m^2/C^2</span></br>
          qi = {{returned.three}}<span ng-if="returned.three"> C</span></br>
            qii = {{returned.four}}<span ng-if="returned.four"> C</span></br>
            r = {{returned.five}}<span ng-if="returned.five"> m</span></br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeCoulomb()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
