<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Electric Current</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="current" ng-model="value.one" placeholder="Current (A)">
        </label>
        <label class="item item-input">
          <input type="text" name="charge1" ng-model="value.two" placeholder="Charge 1 (or delta Charge) (C)">
        </label>
        <label class="item item-input">
          <input type="text" name="charge2" ng-model="value.three" placeholder="Charge 2 (C)">
        </label>
        <label class="item item-input">
          <input type="text" name="time1" ng-model="value.four" placeholder="Time 1 (or delta Time) (s)">
        </label>
        <label class="item item-input">
          <input type="text" name="time2" ng-model="value.five" placeholder="Time 2 (s)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>{{returned.six}}</br>
            I = {{returned.one}}<span ng-if="returned.one"> A</span></br>
            q1 = {{returned.two}}<span ng-if="returned.two"> C</span></br>
            q2 = {{returned.three}}<span ng-if="returned.three"> C</span></br>
            t1 = {{returned.four}}<span ng-if="returned.four"> s</span></br>
            t2 = {{returned.five}}<span ng-if="returned.five"> s</span></br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeElecCurr()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
