<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Flow Rate</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="flowRate" ng-model="value.one" placeholder="Flow Rate (m^3/s)">
        </label>
        <label class="item item-input">
          <input type="text" name="flowArea" ng-model="value.two" placeholder="Flow Area (m^2)">
        </label>
        <label class="item item-input">
          <input type="text" name="flowVelocity" ng-model="value.three" placeholder="Flow Velocity (m/s)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
            Flow Rate = {{returned.one}}<span ng-if="returned.one"> m^3/s</span></br>
            Flow Area = {{returned.two}}<span ng-if="returned.two"> m^2</span></br>
            Flow Velocity = {{returned.three}}<span ng-if="returned.three"> m/s</span></br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeFlowRate()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
