<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Gay-Lussac's Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="pressure1" ng-model="value.one" placeholder="Pressure 1">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature1" ng-model="value.two" placeholder="Temperature 1">
        </label>
        <label class="item item-input">
          <input type="text" name="pressure2" ng-model="value.three" placeholder="Pressure 2">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature2" ng-model="value.four" placeholder="Temperature 2">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
          P1 = {{returned.one}}</br>
          T1 = {{returned.two}}</br>
          P2 = {{returned.three}}</br>
          T2 = {{returned.four}}</p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeGayLussacs()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
