<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Half-Life</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="halflife" ng-model="value.one" placeholder="Half Life">
        </label>
        <label class="item item-input">
          <input type="text" name="elapsedtime" ng-model="value.two" placeholder="Elapsed Time">
        </label>
        <label class="item item-input">
          <input type="text" name="beginningamount" ng-model="value.three" placeholder="Beginning Amount">
        </label>
        <label class="item item-input">
          <input type="text" name="endingamount" ng-model="value.four" placeholder="Ending Amount">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>T 1/2 = {{returned.one}}</br>T = {{returned.two}}</br>AmtB = {{returned.three}}</br>
            AmtE = {{returned.four}}</br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeHalfLife()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
