<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ohm's Law</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="current" ng-model="value.one" placeholder="Current (A)">
        </label>
        <label class="item item-input">
          <input type="text" name="voltage" ng-model="value.two" placeholder="Voltage (V)">
        </label>
        <label class="item item-input">
          <input type="text" name="resistance" ng-model="value.three" placeholder="Resistance (Ohms)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
          I = {{returned.one}}<span ng-if="returned.one"> A</span></br>
          V = {{returned.two}}<span ng-if="returned.two"> V</span></br>
          R = {{returned.three}}<span ng-if="returned.three"> Ohms</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeOhms()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
