<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Standard Temperature and Pressure</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" name="volume" ng-model="value.one" placeholder="Volume (Liters)">
        </label>
        <label class="item item-input">
          <input type="text" name="temperature" ng-model="value.two" placeholder="Temperature (Kelvin)">
        </label>
        <label class="item item-input">
          <input type="text" name="pressure" ng-model="value.three" placeholder="Pressure (Torr)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>Volume at STP = {{returned.one}} <span ng-if="returned.one">Liters</span></br>
            Moles at STP = {{returned.two}} <span ng-if="returned.two">moles</span></br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeSTP()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
