<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Strain</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="strain" ng-model="value.one" placeholder="Strain">
        </label>
        <label class="item item-input">
          <input type="text" name="changeInLength" ng-model="value.two" placeholder="Change in Length">
        </label>
        <label class="item item-input">
          <input type="text" name="originalLength" ng-model="value.three" placeholder="Original Length">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>Strain = {{returned.one}}</br>Change in Length = {{returned.two}}</br>
            Original Length = {{returned.three}}</br></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeStrain()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
