<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Stress</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="stess" ng-model="value.one" placeholder="Stress (N / m^2)">
        </label>
        <label class="item item-input">
          <input type="text" name="Force" ng-model="value.two" placeholder="Force (N)">
        </label>
        <label class="item item-input">
          <input type="text" name="Area" ng-model="value.three" placeholder="Area (m^2)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
          Stress = {{returned.one}}<span ng-if="returned.one"> N / m^2</span></br>
          Force = {{returned.two}}<span ng-if="returned.two"> N</span></br>
          Area = {{returned.three}}<span ng-if="returned.three"> m^2</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeStress()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
