<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Torque</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWindow()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="torque" ng-model="value.one" placeholder="Torque (N * m)">
        </label>
        <label class="item item-input">
          <input type="text" name="force" ng-model="value.two" placeholder="Force (N)">
        </label>
        <label class="item item-input">
          <input type="text" name="distance" ng-model="value.three" placeholder="Distance (m)">
        </label>
        <label class="item">
          <p>{{returned.state}}</br>
          Torque = {{returned.one}}<span ng-if="returned.one"> N * m</span></br>
          Force = {{returned.two}}<span ng-if="returned.two"> N</span></br>
          Distance = {{returned.three}}<span ng-if="returned.three"> m</span></p>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="computeTorque()">Compute</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="closeWindow()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
