#employBouncer {
	font-size: 80px;
	font-weight: bold;
	height: 5%;
	width: 62%;
	max-width: 100%;
	padding-top: 50px;
	padding-bottom: 120px;
	border-radius: 25px;
	left: 19.3%;
	top: 69.5%;
	position: absolute;
}

.preferencesList {
	position: absolute;
	top: 2%;
	width: 100%;
}

.preferenceOption {
	position: absolute;
	right: 3%;
	font-size: 26px;
}

.preferenceItem {
	
}
