@media ( min-width: 480px ) and ( max-width : 1080px) {
	#employBouncer {
		font-size: 72px;
	}
}

@media ( min-width: 1080px ) and ( max-width : 1440px) {
	#employBouncer {
		font-size: 84px;
	}
}

#employBouncer {
	font-weight: bold;
	height: 100px;
	width: 62%;
	max-width: 100%;
	border-radius: 25px;
	left: 19.3%;
	top: 69.5%;
	position: absolute;
}

.equationListLeft {
	float: left;
	width: 40%;
	margin-left: 5%;
}

.equationListRight {
	float: right;
	width: 40%;
	margin-right: 5%;
}

.equationOption {
	float: right;
	margin-right: 3%;
	font-size: 26px;
}

.equationItem {
	margin-bottom: 20px;
	width: 40%;
	height: 100px;
}